body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
.row {
    margin: 0;
    padding: 1px;
}
.btn-large {
    width: calc(25% - 2px);
    margin: 0 1px;
    padding: 0;
    font-size: 30px;
}
.btn-large.double-width{
    width: calc(50% - 2px);
}
.display{
    text-align: right;
    padding: 0 2px;
    margin: 0;
    height: 50px;
    color: #ffffff;
}

.display-text{
    margin: 0;
    font-size: 46px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.progress{
    margin: 0;
}
.button-block{
    margin: 1px 0;
}
.card{
    width: 100%;
    padding: 2px;
    border-radius: 8px;
}

.card,.progress {
    background-color: #78909c;
}

.progress .indeterminate{
    background-color: #ff9800;
}

.number{
    background-color: #bdbdbd;
    color: #000000;
}

.number:hover{
    background-color: #adadad;
}

.b-operation{
    background-color: #ff9800;
}

.b-operation:hover{
    background-color: #ef8800;
}

.c-operation{
    background-color: #adadad;
    color: #000000;
}

.c-operation:hover{
    background-color: #9d9d9d;
}

.history{
    width: calc(100% - 2px);
    height: 330px;
}


.toggle_history{
    margin: 0 1px;
    width: calc(100% - 2px);
    background-color: #78909c;
    box-shadow: unset;
}

.toggle_history:hover{
    background-color: #78909c;
    box-shadow: unset;
}