/*Base Block*/
html, body,#app,.container{
    height: 100%;
}

body {
    line-height: 1;
}

.container{
    padding: 15px 0;
}


.card{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
    border-radius: 8px;
    height: 100%;
    background-color: #78909c;
    min-height: 320px;
    min-width: 280px;
}

.row {
    margin: 0;
    padding: 0 1px;
}

/*Base Block*/
/*VC*/
.vc-outer {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.vc-middle {
    display: table-cell;
    vertical-align: middle;
}

.vc-inner {
    margin-left: auto;
    margin-right: auto;
}

/*VC*/
/*Button Block*/

.button-block{
    margin: 3px 0;
    flex-basis: 80%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.button-block>.row{
    flex: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.btn-cell{
    margin: 0;
    padding: 1px;
    font-size: 30px;
    -webkit-flex-basis: 25%;
    flex-basis:  25%;
    color: #78909c;
}

.btn-cell.double-width{
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
}

/*Buttons*/

.btn {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 45px;
    -webkit-flex-basis: 25%;
    flex-basis:  25%;
}


.btn.number{
    background-color: #bdbdbd;
    color: #000000;
}

.btn.number:hover{
    background-color: #adadad;
}

.btn.b-operation{
    background-color: #ff9800;
}

.btn.b-operation:hover{
    background-color: #ef8800;
}

.btn.c-operation{
    background-color: #adadad;
    color: #000000;
}

.btn.c-operation:hover{
    background-color: #9d9d9d;
}

/*Buttons*/
/*Display*/

.display{
    flex-basis: 20%;
    text-align: right;
    padding: 0 5px;
    margin: 0;
    height: 50px;
    color: #ffffff;
}

.display-text{
    margin: 0;
    font-size: 46px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*Display*/
/*History Block*/

.history{
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 8px;
    margin: 0;
    height: 30px;
    transition-property: height;
    transition-duration: 1s;
    position: absolute;
    z-index: 1;
    background-color: #78909c;
    overflow: hidden;
    text-align: center;
}

.history.active{
    height: 100%;
    overflow-y: auto;
}
.history.fake{
    position: unset;
}
.history-item{
    text-align: center;
    font-size: 24px;
    padding: 10px 5px;
    color: #fff;
    overflow-wrap: break-word;
}
.hint {
    color: #58707c;
    font-size: 20px;
}

.toggle_history{
    margin: 0 ;
    width:100% ;
    background-color: #78909c;
    box-shadow: unset;

    transition-property: all;
    transition-duration: 500ms;
}

.toggle_history:hover{
    background-color: #78909c;
    box-shadow: unset;
}

.spinner-layer{
    border-color: #58707c;
}

/*History Block*/
/*History Button Block*/
.toggle_icon {
    width: 50px;
    height: 30px;
    margin:  auto;
}

.toggle_icon>.stick{
    position: sticky;
    top: 13px;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transition-property: transform;
    transition-duration: 500ms;
    border-radius: 8px;
}

.toggle_icon>.stick.left{
    transform: rotate(-45deg);
    margin-left: 17px;

}

.toggle_icon>.stick.right{
    transform: rotate(45deg);
    margin-right: 17px;
}

.toggle_icon.opened>.stick.left{
    transform: rotate(45deg);
}

.toggle_icon.opened>.stick.right{
    transform: rotate(-45deg);
}


/*History Button Block*/